<% provide(:title, @taxon.name) %>

<%= render '/shared/light_section_page_header' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">

      <%= render '/shared/sidebar_section' %>

      <%= render '/shared/product_section' %>

    </div>
  </div>
</section>

<%= render '/shared/light_section_partners_logo' %>
