<div class="panel panel-default">
  <div class="panel-heading"><%= taxonomy.name %></div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomy.root_taxons.each do |taxon| %>
          <% if taxon.leaf? %>
            <li>
              <%= link_to potepan_category_path(id: taxon.id) do %>
                <i class="fa"></i><%= "#{taxon.name} (#{taxon.products.count})" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <a href="<%= "javascript:;" %>" data-toggle="collapse" data-target="#<%= taxon.id %>">
                <%= "#{taxon.name} (#{taxon.products_with_self_and_descendants.count})" %>
                <i class="fa fa-plus"></i>
              </a>
              <ul id="<%= taxon.id %>" class="collapse collapseItem">
                <% taxon.descendants.each do |taxon_child| %>
                  <li>
                    <%= link_to potepan_category_path(id: taxon_child.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= "#{taxon_child.name} (#{taxon_child.products.count})" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
