<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(page_title: yield(:title)) %></title>

    <!-- PLUGINS CSS STYLE -->

    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Oxygen:400,300,700", :media => "all" %>

    <!-- CUSTOM CSS -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="main-wrapper">

      <%= render "/shared/header" %>

      <%= yield %>

      <%= render "/shared/footer" %>

    </div>

    <%= render "/shared/login_signup_modal" %>

    <%= render "/shared/product_quick_view_modal" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
